nav li {
	display:inline-block;
	font-family:"Abril Text", serif;
	font-weight: 400;
	font-style: italic;
	font-color:#FFF;
	font-size:20px;
}

a {
	text-decoration:none;
	color:#FFF;
}

a:hover {
	color:#2CADAD;
}

nav ul {
	list-style-type:none;
	background-color:#003B45;
}

header {
	background-color:#003B45;
	min-height:80px;
	display:grid;
	padding-left:100px;
	padding-right:100px;
}

nav {
	display:inline-block;
}

h2 {
	font-family:"Blazeface", serif;
	color:#000;
	font-size:72px;
}

.logo-style {
	font-family: "Blazeface", serif;
	font-weight: 400;
	font-style: normal;
	color:#FFF;
	font-size:36px;
}

.index {
	background-color:#003B45;
	background-image:url(./indexbg.png);
}

.index h1 {
	text-align:center;
	font-size:72px;
}

@font-face {
	font-family:"Blazeface";
	src:url(./Ohno_Blazeface-12_Point_Italic.ttf);
	font-weight:bold;
}

footer {
	font-family:"Abril Text",serif;
	font-weight:400;
	font-style:italic;
	font-size:14px;
	text-align:center;
	background-color:#003B45;
	color:#FFF;
	height:68px;
	width:100%;
	margin:auto;
}

h3 {
	font-family:"Blazeface";
	color:#000;
	font-size:16px;
}

hr {
	border:1px solid;
	border-color:#2CADAD;
}

p {
	font-family:"Abril Text", serif;
	font-weight:400
	font-size:14px;
}

.columns {
	width:100%;
	column-count:2;
	column-gap:43px;
	column-width:1fr;
	column-span:1;
}

.fashion {
	background-image:url(./woodgrain.jpg);
	background-repeat:no-repeat;
	background-position:left;
	background-size:cover;
	padding-left:100px;
	padding-top:71px;
	padding-right:134px;
}

.sling {
	background-image:url(./rainbowmetal.jpg);
	background-repeat:no-repeat;
	background-position:right;
	background-size:cover;
	padding-left:100px;
	padding-top:71px;
	padding-right:134px;
}

ul {
	font-family:"Abril Text";
	font-weight:400;
	font-style:italic;
	font-size:16px;
}

aside {
	border: 6.5px solid;
	border-color:#003B45;
	padding-top:17px;
	padding-bottom:17px;
	padding-left:8px;
	padding-right:8px;
	margin-right:470px;
}

img {
	border:7px solid;
	border-color:#2CADAD;
	padding:16px;
}

.drink {
	max-width:413px;
	max-height:478px;
	min-width:344px;
	min-height:398px;
}