nav li {
	display:inline-block;
	font-family:"Abril Text", serif;
	font-weight: 400;
	font-style: italic;
	font-color:#FFF;
	font-size:20px;
}

a {
	text-decoration:none;
	color:#FFF;
}

a:hover {
	color:#2CADAD;
}

nav ul {
	list-style-type:none;
	background-color:#003B45;
}

header {
	background-color:#003B45;
	min-height:80px;
	display:grid;
}

nav {
	display:inline-block;
}

h2 {
	font-family:"Blazeface", serif;
	color:#000;
	font-size:72px;
}

.logo-style {
	font-family: "Blazeface", serif;
	font-weight: 400;
	font-style: normal;
	color:#FFF;
	font-size:36px;

}

.index {
	background-color:#003B45;
	background-image:url(./indexbg.png);
}

.index h1 {
	text-align:center;
	font-size:72px;
}

@font-face {
	font-family:"Blazeface";
	src:url(./Ohno_Blazeface-12_Point_Italic.ttf);
	font-weight:bold;
}

footer {
	font-family:"Abril Text",serif;
	font-weight:400;
	font-style:italic;
	font-size:14px;
	text-align:center;
	background-color:#003B45;
	color:#FFF;
	height:68px;
	width:100%;
	margin:auto;
}

p {
	font-family:"Abril Text", serif;
	font-weight:400
	font-size:14px;
}

.old-fashioned {
	grid-template-columns:50% 50%;
	grid-template-rows:100%;
}