@font-face {
	font-family:"Blazeface";
	src:url(./Ohno_Blazeface-12_Point_Italic.ttf);
	font-weight:bold;
}

nav li {
	display:inline-block;
	font-family:"Abril Text", serif;
	font-weight: 400;
	font-style: italic;
	color:#FFF;
	font-size:20px;
	list-style-type:none;
}

a {
	text-decoration:none;
	color:#FFF;
}

a:hover {
	color:#2CADAD;
}

nav ul {
	list-style-type:none;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap:45px;
	padding:36px 0;
	margin-right:90px;
	text-align:center;
}

header {
	background-color:#003B45;
	padding-left:90px;
	display: grid;
	grid-template-columns: 40% 60%;
	margin-top:30px;
	height:80px;
}

h2 {
	font-family:"Blazeface", serif;
	color:#000;
	font-size:72px;
    column-span: all;
}

footer {
	font-family:"Abril Text",serif;
	font-weight:400;
	font-style:italic;
	font-size:14px;
	text-align:center;
	background-color:#003B45;
	color:#FFF;
	width:100%;
	margin:auto;
	padding:30px 0px;
}

h3 {
	font-family:"Blazeface";
	color:#000;
	font-size:16px;
}

p {
	font-family:"Abril Text", serif;
	font-weight:400;
	font-size:16px;
	line-height:18px;
	letter-spacing:0.5px;
}

strong {
	font-family:"Abril Text";
	font-weight:800;
	font-style:italic;
	font-size:20px;
}

ul {
	font-family:"Abril Text";
	font-weight:400;
	font-style:italic;
	font-size:16px;
}

aside {
	border: 6.5px solid;
	border-color:#003B45;
	padding-top:17px;
	padding-bottom:17px;
	padding-left:8px;
	padding-right:8px;
	width:180px;
}

hr {
	border:1px solid;
	border-color:#2CADAD;
	width:215px;
}

.navgrid {
	display:grid;
	grid-template-columns:1fr 1fr;
	grid-template-rows:1fr 1fr;
	width:50%;
	margin:auto;
	padding-top:45px;
}

.drink {
	margin:auto;
	text-align:left;
	padding:5px;
	line-height:49px;
	font-family:"Abril Text";
	font-size:20px;
	font-weight:400;
	width:100%;
}

.drinkright {
	margin:auto;
	text-align:right;
	padding:5px;
	line-height:49px;
	font-family:"Abril Text";
	font-size:20px;
	font-weight:400;
	width:100%;
}

.logo-style {
	font-family: "Blazeface", serif;
	font-weight: 400;
	font-style: normal;
	color:#FFF;
	font-size:36px;
	padding:27px 0;
}

.index {
	background-color:#003B45;
	background-image:url(../images/indexbg.png);
	padding-top:269px;
	text-align:center;
	width:100%;
	margin:auto;
}

.index section {
	font-size:72px;
	font-family: "Blazeface", serif;
	font-weight: 400;
	font-style: normal;
	color:#FFF;
	background-color:#003B45;
	padding:5px;
}

.index a {
	font-size:30px;
}

.index footer {
	margin-top:260px;
}

.outline {
	outline:7px solid;
	outline-color:#2CADAD;
	outline-offset:-20px;
	padding-top:32px;
	padding-left:32px;
	max-width:100%; 
	min-width:60%;
}

.fashion {
	background-image:url(../images/woodgrain.png);
	background-repeat:no-repeat;
	background-position:left;
	background-size:cover;
	padding-left:100px;
	padding-top:71px;
	padding-right:100px;
	padding-bottom:71px;
}

.columns-fashioned {
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-gap:40px;
	margin-right:90px;
}

.columns-fashioned h2 {
	padding-top:30px;
	padding-bottom:55px;
}

.columns-fashioned p {
	padding-bottom:70px;
}

.scale {
	max-width:100%; 
	min-width:60%;
}

.recipe {
	float:left;
	margin-right:35px;
	margin-bottom:30px;
}

.columns-car {
	display:grid;
	grid-template-columns: 2fr 0.5fr 0.75fr;
	grid-gap:15px;
	padding-left:90px;
	margin-right:90px;
	width:90%;
	padding-top:30px;
	padding-bottom:30px;
}

.columns-car h2 {
	padding-bottom:55px;
}

.plus {
	text-align:center;
	font-size:45px;
	padding:0 90px;
}

.recipe-right {
	float:right;
	margin-left:35px;
	margin-bottom:30px;
}

.vertical {
	border-left:7px solid;
	border-color:#2CADAD;
}

.columns-dai {
	display:grid;
	grid-template-columns: 600px 1fr 1fr;
	grid-gap:20px;
	margin-left:90px;
	margin-right:90px;
	width:80%;
	padding-top:30px;
	padding-bottom:30px;
}

.columns-dai aside {
	margin-top:300px;
}

.columns-dai p {
	padding-top:55px;
	padding-bottom:70px;
}

.dai-recipe {
	margin-left:-110px;
	z-index:5;
}

.daiquiri {
	margin-top:auto;
	margin-bottom:auto;
	display:block;
	padding:40px 20px;
}

.sling {
	background-image:url(../images/rainbowmetal.png);
	background-repeat:no-repeat;
	background-position:right;
	background-size:cover;
	padding-left:100px;
	padding-top:71px;
	padding-right:100px;
	padding-bottom:71px;
	margin-top:-188px;
	display: inline-block;
	position: relative;
}

.columns {
	display:grid;
	grid-template-columns: 0.75fr 1.5fr 2fr;
	grid-gap:30px;
	padding-left:90px;
}

.columns h2 {
	padding-top:30px;
	padding-bottom:55px;
	grid-column: 1 / -1;
}

.shaker {
	min-width:196px;
	max-width:198px;
	border: 7px solid;
	border-color:#2CADAD;
}